<sidebar class="sidebar">
    <div class="sidebar__logo">
        <span>d</span>
        <h3>din.money</h3>
    </div>

    <nav class="sidebar__nav">
        <ul>
            <li>
                <a href="" title="Dashboard">
                    <i data-feather="home" class="icon"></i>
                    Dashboard
                </a>
            </li>
            <li>
                <a href="" title="Dashboard">
                    <i data-feather="shuffle" class="icon"></i>
                    Movimentações
                </a>
            </li>
            <li>
                <a href="">
                    <i data-feather="package" class="icon"></i>
                    Categorias
                </a>
            </li>
            <li>
                <a href="">
                    <i data-feather="credit-card" class="icon"></i>
                    Contas e Cartões
                </a>
            </li>
            <li>
                <a href="">
                    <i data-feather="pie-chart" class="icon"></i>
                    Relatórios
                </a>
            </li>
        </ul>
    </nav>

    <nav class="sidebar__nav">
        <ul>

            <li>
                <a href="">
                    <i data-feather="settings" class="icon"></i>
                    Settings
                </a>
            </li>
            <li>
                <a href="">
                    <i data-feather="help-circle" class="icon"></i>
                    Ajuda
                </a>
            </li>
            <li>
                <a href="">
                    <i data-feather="mail" class="icon"></i>
                    Feedback
                </a>
            </li>
        </ul>
    </nav>

</sidebar>